# **Loops**
**1) Program to print the numbers from 1 to 10 using a for loop**

In [50]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

**2) Write a program to print the numbers from 20 to 1 using a while loop**

In [51]:
i=20
while i>0:
  print(i)
  i=i-1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

**3) Write a program to print even numbers from 1 to 10**

In [52]:
for i in range(1,11):
  if i%2==0:
    print(i)

2
4
6
8
10

**4) Write a program that prompts the user to enter a number n and prints all the numbers from 1 to n**

In [53]:
n=int(input("Enter a Number: "))
for i in range(1,n+1):
  print(i)

Enter a Number: 5
1
2
3
4
5

**5) Write a program that prompts the user to enter a number n, and then prints all the odd numbers between 1 and n**

In [54]:
n=int(input("Enter a Number: "))
for i in range(1,n+1):
  if i%2==1:
    print(i)

Enter a Number: 10
1
3
5
7
9

**6) Write a program that prints Happy Birthday five times on screen**

In [55]:
msg="Happy Birthday"
for i in range(5):
  print(msg)

Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday

**7) Write a program that takes a number n as input from the user and generates the first n terms of the series formed by squaring the natural numbers**

In [56]:
n=int(input("Enter a Number: "))
print(f"The first {n} terms of series are: ")
for i in range(1,n+1):
  print(i*i)

Enter a Number: 5
The first 5 terms of series are:
1
4
9
16
25

**8) Write a program that prompts the user to input a number and prints its multiplication table**

In [57]:
n=int(input("Enter a Number: "))
print(f"Multiplication Table of {n} is: ")
for i in range(1,11):
  print(f"{n} * {i} = {n*i}")

Enter a Number: 6
Multiplication Table of 6 is:
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

**9) Write a Python program to print the first 8 terms of an arithmetic progression starting with 3 and having a common difference of 4**

In [58]:
a=3
for i in range(8):
  print(a)
  a=a+4

3
7
11
15
19
23
27
31

**10) Write a Python program to print the first 6 terms of a geometric sequence starting with 2 and having a common ratio of 3**

In [59]:
a=2
for i in range(6):
  print(a)
  a=a*3

2
6
18
54
162
486

**11) Write a program that asks the user for a positive integer value. The program should calculate the sum of all the integers from 1 up to the number entered**

In [60]:
sum=0
n=int(input("Enter positive integer: "))
for i in range(1, n+1):
  sum=sum+i
print(f"sum of numbers from 1 to {n} is: ",sum)

Enter positive integer: 4
sum of numbers from 1 to 4 is:  10

**12) write a program that takes a positive Integer N as input and calculates the sum of the reciprocalls of all numbers from 1 up to N**

In [64]:
rsum=0
n=int(input("Enter Positive integer: "))
for i in range(1,n+1):
  rsum=rsum+(1/i)
print(f"sum of reciprocal numbers from 1 to {n} is: ",round(rsum,2))

Enter Positive integer: 4
sum of reciprocal numbers from 1 to 4 is:  2.08

**13) Write a program that prompts the user to enter a number and repeats this process 5 times. The program should accumulate the numbers entered and then display the final running total**

In [63]:
sum=0
for i in range(5):
  n=int(input(f"Enter a Number {i+1}: "))
  sum=sum+n
print(f"sum of numbers is {sum}")

Enter a Number 1: 5
Enter a Number 2: 5
Enter a Number 3: 4
Enter a Number 4: 6
Enter a Number 5: 8
sum of numbers is 28

**14) Write a program that prompts the user to enter a positive integer and calculates its factorial**

In [65]:
fac=1
n=int(input("Enter a Number: "))
if n>0:
  for i in range(1,n+1):
    fac=fac*i
  print(f"The Factorial of {n} is: {fac}")
elif n==0:
  print("Factorial of 0 is 1")
elif n<0:
  print("Factorial of negative number does'nt exist")

Enter a Number: 5
The Factorial of 5 is: 120

**15) Write a Python program that prompts the user to enter a base number and an exponent, and then calculates the power of the base to the exponent**

In [66]:
base=int(input("enter a base number: "))
exp=int(input("enter an exponent: "))
res=1
if exp<0:
  for i in range(-exp):
    res =res*(1/base)
elif exp>0:
  for i in range(exp):
    res=res*base
print(res)

enter a base number: 2
enter an exponent: -2
0.25